/* Whole page */
*{
    margin: 0;
    padding: 0;
}
/* Navigation */
.nav{
    margin-top: 26px;
    margin-left: 157px;
    margin-right: 157px;
    display: flex;
    flex: auto;
    justify-content:space-between;
    align-items: center;
}
/* tv part */
.hero{
    margin-top: 20px;
    background-color:#FEEAE9;
     margin-left: 157px;
     margin-right: 157px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 35px;
     gap: 35px;
     border-radius: 20px;
}
#details{
    p{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 45px ;
        
    }
    h1{
        font-family:monospace;
        margin-bottom: 10px  ;
        font-size: 56px;
    }
    h2{
        font-weight: bold;
        font-size: 41px;
        margin-bottom: 40px;
        color: #FF136F;
    }
    
}
.buy{
    height: 47px;
    width: 168px;
    padding:14px 45px ;
    border: 0;
    background-color: #FF136F;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.text{
    font-size: 36px;
    font-weight: 700;
    font-family: monospace;
    color: #1F1F1F;
}
.Categories{
    margin-left: 157px;
    margin-right: 157px;
    margin-top: 30px;
    
}
.category-box{
    margin-top: 20px;
     display: flex;
     justify-content: space-between;
     gap: 30px;
   
     
}
.Category-container{
    padding: 25px 50px;
   display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   border-radius: 9px;
   /* All heading */
   h2{
    color: white;
    font-size: 36px;
    font-family: monospace;
   }
}
.shoes{
    margin-top: 20px;
    margin-left: 157px;
     margin-right: 157px;

}
.shoes-container{
      margin-top: 70px;
     display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   border-radius: 9px;
}
.shoe-box{
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 9px;
       box-shadow: #1F1F1F 0 3px 4px ;
    h3{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        font-family: monospace;
        color:#1F1F1F;
    }
    p{
        margin-bottom: 20px;
        font-family: serif;
        color: #1F1F1F;
        line-height: 25px;
    }

}
.buy-now{
    height: 52px;
    width: 168px;
    border: 0;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    cursor: pointer;
}
.Backpack{
    margin-top: 20px;
    margin-left: 157px;
     margin-right: 157px;
}
.Backpack-container{
    margin-top: 70px;
      display: flex;
   flex: 1;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   border-radius: 9px;
}
.Backpack-box{
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid;
    border-radius: 9px;
  box-shadow: #1F1F1F 0 3px 4px ;
    h3{
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
        font-family: monospace;
        color:#1F1F1F;
    }
    p{
        margin-bottom: 20px;
        font-family: serif;
        color: #1F1F1F;
        line-height: 25px;
    }
}
.footer{
    text-align: center;
      margin-left: 157px;
    margin-right: 157px;
    margin-top: 30px;
    background-color: #FFF2F1;
    border-radius: 20px;
    padding: 146px 246px;
    h1{
        font-size: 30px;
        font-family: monospace;
        color: #1F1F1F;
        margin-bottom: 7px;
    }
    p{
        font-size: 16px;
        font-family: monospace;
        margin-bottom: 7px;
    }
    }
form{
        display: flex;
        justify-content: center;
        margin-top: 12px; 

    input{

    max-width: 450px;
    padding: 20px 60px;
    border:0;
    border-radius: 8px;
    font-size: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    }
    button{

    border: 0; 
    padding: 20px 30px;
    background-color: #FF136F;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: white;
    }
    }